/* .movie__link a{
  all: none;
} */

.movie__posters {
  object-fit: contain ;
  /* width: 100%; */
  max-height: 300px;
  margin-right: 10px;
  transition: transform 450ms;
}

.movie__posters:hover {
  transform: scale(1.08);
  opacity: 1;
  cursor: pointer;
}

