.movie__posters {
  object-fit: contain;
  width: 100%;
  max-height: 300px;
  margin-right: 10px;
  transition: transform 450ms;
}

.movie__posters:hover {
  transform: scale(1.08);
  cursor: pointer;
}

/* .song__image {
    margin: 10px;
    width: 154px;
    object-fit: contain;
} */

/* .song__title {
    width: 154px;
}

.song__description {
    width: 154px;
    overflow: hidden;
} */
